body {

}
.search-section{
    top: 0;
    background-color: #a8bdc8;
}
.logo{
    width: 100px;
}
.search-box{
    width: 40vw;
    height: 35px;
}
.paper-list{
    background-color: #d5e2e8;
    padding: 15px;
}
